/*navbar*/
.side-nav {
  background: #dedede;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 1;
  padding-top: 20px;
  padding-left: 5px;
}

.side-a-nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000000;
}

#main-doc {
  margin-left: 15em;
}

p,
.side-a-nav a,
code {
  font-size: 20px;
}

code {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px;
}
